*.a
*.info
*.o
Makefile
config.cache
config.status
gcc/.gdbinit
gcc/AS_MESSAGE_LOG_FD
gcc/Make-hooks
gcc/Make-host
gcc/Make-lang
gcc/Make-target
gcc/Makefile
gcc/auto-host.h
gcc/c-parse.c
gcc/c-parse.y
gcc/cc1
gcc/collect2
gcc/config.h
gcc/config.log
gcc/config.status
gcc/configargs.h
gcc/cpp
gcc/cs-config.h
gcc/cs-hconfig.h
gcc/cs-tconfig.h
gcc/cs-tm_p.h
gcc/cstamp-h
gcc/doc/cpp.1
gcc/doc/fsf-funding.7
gcc/doc/gcc.1
gcc/doc/gcov.1
gcc/doc/gfdl.7
gcc/doc/gpl.7
gcc/fixinc.sh
gcc/fixinc/Makefile
gcc/fixinc/fixincl
gcc/fixinc/full-stamp
gcc/fixinc/include
gcc/fixinc/machname.h
gcc/fixinc/stage1
gcc/fixinc/stage2
gcc/fixinc/stage3
gcc/fixinc/stage4
gcc/gcc-cross
gcc/gccbug
gcc/gcov
gcc/genattr
gcc/genattrtab
gcc/gencheck
gcc/gencheck.h
gcc/gencodes
gcc/genconditions
gcc/genconfig
gcc/genconstants
gcc/genemit
gcc/genextract
gcc/genflags
gcc/gengenrtl
gcc/gengtype
gcc/gengtype-lex.c
gcc/gengtype-yacc.c
gcc/gengtype-yacc.h
gcc/genopinit
gcc/genoutput
gcc/genpeep
gcc/genpreds
gcc/genrecog
gcc/genrtl.c
gcc/genrtl.h
gcc/gt-alias.h
gcc/gt-bitmap.h
gcc/gt-c-common.h
gcc/gt-c-decl.h
gcc/gt-c-objc-common.h
gcc/gt-c-parse.h
gcc/gt-c-pragma.h
gcc/gt-cselib.h
gcc/gt-dwarf2out.h
gcc/gt-emit-rtl.h
gcc/gt-except.h
gcc/gt-explow.h
gcc/gt-expr.h
gcc/gt-fold-const.h
gcc/gt-function.h
gcc/gt-gcse.h
gcc/gt-integrate.h
gcc/gt-lists.h
gcc/gt-optabs.h
gcc/gt-profile.h
gcc/gt-ra-build.h
gcc/gt-reg-stack.h
gcc/gt-regclass.h
gcc/gt-sdbout.h
gcc/gt-stmt.h
gcc/gt-stor-layout.h
gcc/gt-tree.h
gcc/gt-varasm.h
gcc/gtyp-gen.h
gcc/gtype-c.h
gcc/gtype-desc.c
gcc/gtype-desc.h
gcc/hconfig.h
gcc/include/
gcc/insn-attr.h
gcc/insn-attrtab.c
gcc/insn-codes.h
gcc/insn-conditions.c
gcc/insn-config.h
gcc/insn-constants.h
gcc/insn-emit.c
gcc/insn-extract.c
gcc/insn-flags.h
gcc/insn-opinit.c
gcc/insn-output.c
gcc/insn-peep.c
gcc/insn-recog.c
gcc/intl/Makefile
gcc/libgcc.mk
gcc/mkheaders
gcc/mklibgcc
gcc/multilib.h
gcc/options.h
gcc/po/be.gmo
gcc/po/ca.gmo
gcc/po/da.gmo
gcc/po/de.gmo
gcc/po/el.gmo
gcc/po/es.gmo
gcc/po/fr.gmo
gcc/po/ja.gmo
gcc/po/nl.gmo
gcc/po/rw.gmo
gcc/po/sv.gmo
gcc/po/tr.gmo
gcc/print-rtl1.c
gcc/s-attr
gcc/s-attrtab
gcc/s-check
gcc/s-codes
gcc/s-conditions
gcc/s-config
gcc/s-constants
gcc/s-crt0
gcc/s-emit
gcc/s-extract
gcc/s-flags
gcc/s-gencheck
gcc/s-genrtl
gcc/s-gtype
gcc/s-mlib
gcc/s-opinit
gcc/s-options
gcc/s-output
gcc/s-peep
gcc/s-preds
gcc/s-recog
gcc/s-specs
gcc/specs
gcc/specs.h
gcc/specs.ready
gcc/stmp-dirs
gcc/stmp-fixinc
gcc/stmp-int-hdrs
gcc/tconfig.h
gcc/tm-preds.h
gcc/tm_p.h
gcc/tree-check.h
gcc/xgcc
gcc/xlimits.h
libiberty/Makefile
libiberty/config.h
libiberty/config.log
libiberty/config.status
libiberty/needed-list
libiberty/required-list
libiberty/stamp-h
libiberty/stamp-picdir
libiberty/testsuite/Makefile
libiberty/xhost-mkfrag
